.color-card {
  margin: 10px 10px;
  padding: 15px;
}

.color-card-highlight {
  display: inline;
  padding: 1px 6px;
  background: black;
  color: white;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.color-form {
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  padding: 5px;
  color: #333;
  margin-bottom: 20px;
  gap: 10px;
  border-radius: 10px;
}

.fieldset-form {
  border: 2px solid #ccc;
  padding: 20px;
  margin: 20px auto; /* Centrar el fieldset y darle un margen */
  border-radius: 8px; /* Esquinas redondeadas */
  max-width: 400px; /* Limitar el ancho máximo del formulario */
  width: 100%;
}
